/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #111;
    color: #fff;
}

header {
    background-color: #000;
    text-align: center;
    padding: 1.5rem;
    border-bottom: 5px solid #ffcc00;
}

header h1 {
    font-size: 3rem;
    color: #ffcc00;
    font-weight: bold;
}

header p {
    font-size: 1.2rem;
    color: #aaa;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.meme-card {
    background-color: #222;
    border-radius: 15px;
    width: 300px;
    margin: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    overflow: hidden;
    transition: transform 0.3s ease;
}

.meme-card:hover {
    transform: scale(1.05);
}

.meme-image {
    width: 100%;
    height: auto;  /* Ajustamos la altura para que se adapte proporcionalmente */
    object-fit: cover;  /* Esto asegura que la imagen se adapte sin cortarse, pero se ajusta al contenedor */
    border-bottom: 5px solid #ffcc00;
}

.card-details {
    padding: 15px;
    text-align: center;
}

.meme-name {
    font-size: 1.8rem;
    color: #ffcc00;
    margin-bottom: 10px;
}

.meme-description {
    font-size: 1rem;
    color: #aaa;
    margin-bottom: 15px;
}

.stats {
    font-size: 1.1rem;
}

.stat {
    margin: 5px 0;
    color: #fff;
}

.stat strong {
    color: #ffcc00;
}

/* Ajuste del tamaño de las imágenes de comparación */
.comparison-wrapper {
    position: relative;
    width: 250px; /* Aumentamos el ancho del contenedor */
    height: 500px; /* Aumentamos la altura del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
}

.comparison-image {
    width: 100%; /* Ocupa el ancho completo del contenedor */
    height: 100%; /* Ocupa la altura completa del contenedor */
    object-fit: cover; /* Mantiene la proporción de la imagen */
    border-radius: 10px;
    transition: opacity 0.5s ease;
    position: absolute; /* Superposición de imágenes */
}

/* Centrar el texto "Su Parecido" */
.comparison p {
    text-align: center;
    font-size: 1.5rem; /* Aumentamos el tamaño de la fuente */
    font-weight: bold;
    margin-bottom: 15px;
    color: #fff; /* Puedes ajustar el color según el diseño general */
}


.comparison-image.hidden {
    opacity: 0;
    z-index: -1;
}

.comparison-image.visible {
    opacity: 1;
    z-index: 1;
}
